html,body{
  background-color: #2D2B2C !important;
  padding: 20px !important;
  height: 100% !important;
}

.App{
  background-color: #DCDCDC;
  height: 90vh;
}
.sidebarLink{
  text-decoration: none;
  border-bottom: 2px solid #707070;
  font: bold 13px segoe UI;
  color: white;
}
.sidebarLink:hover{
  background-color: #707070;
  color: white;
}
.violationTable th{
  border: 1px solid #707070;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  
}
.violationTable td{
  border: 1px solid #707070;
}
.violationTable {
  max-height: 350px;
  text-align: center;
  border-collapse: collapse;
  width: 940px;
  background-color: #F7F7F7;
  display: block;
  overflow-y: scroll;
  white-space: nowrap;
  font-size: 13px;
}

.search{
  background-color: white;
  width: 97%;
  border-radius: 7px;
}

.search p{
    margin: 0%;
    color: #747172;
    opacity: 52%;
}

.search img{
    height: 20px;
    width: 20px;
}

/*18-Nov-22*/

/* NAVBAR */
.navContainer{
  background: #A19B9E; 
  border-color: #707070;
}

.navCenter{
  padding: 0;
  margin: 0;
  text-align: center;
}

.navSpan{
  color: #FFD700;
}

.navLink{
  text-decoration: none;
  color: black;
}

.navLink:hover{
  color: black;
}
/* NAVBAR */

/* HOME */
.homeLogo{
  background-color: #DCDCDC; 
  background-image: url(/public/backgroundlogo.png); 
  background-size: contain;
  background-repeat:  no-repeat;
  height: 450px;
  opacity: 12%;
  margin-left: 27%;
}
/* HOME */

/* VIOLATION-DETAILS */
.uoList0{
  list-style-type: none;
  font-weight: bold;
  font-size: small;
  line-height: 0.8cm;
}

.uoList1{
  list-style-type: none;
  font-size: small;
  line-height: 0.8cm;
  padding-left: 0;
}

.bi-arrow-left{
  color: black;
  font-size: x-large;
}

.bi-person-circle{
  font-size: 90px;
  padding-left: 30%;
  
}

.vtDetails{
  max-height: 235px;
}

.vioDTable::-webkit-scrollbar{ /* WebKit */
  width: 0;
  height: 0;
}

.bi-exclamation-triangle-fill{
  color: red;
}

.bi-exclamation-triangle{
  color: yellow;
}
/* VIOLATION-DETAILS */

/* SYSTEM CONTROL */
.topHeading{
  padding-top: 10px;
  text-align: left;
  text-decoration: underline;
  color: white; 
  font-size: 29px; 
}

.inpTime{
  margin-left: 6px;
  width: 28%;
}

/* SYSTEM CONTROL */
